{% extends 'base.html' %}

{% block content %}
    <hi>Make your URL shorter!</hi>
    <div class="content">

            {% if invalid_form %}
                <div class="alert alert-danger">
                    {{ invalid_form }}
                </div>
            {% endif %}
            <div class="col-lg-4 col-sm-offset-4">
                <form method="POST" action="{% url 'Shorten' %}">
                    {% csrf_token %}
                    <div>
                        <label for="url">Your URL:</label>
                        <input type="text" class="form-control" id="url" placeholder="Enter URL" name="url" value="{{ fields.url }}"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Shorten</button>
                </form>
            </div>
    </div>

{% endblock %}