{% load static %}
<!DOCTYPE html>
<html lang="en">


    <head>

        <title>URL Shortener</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/mainstyle.css' %}" />

        <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/application.js' %}"></script>

    </head>


    <body>
            <div class="container">
                <div class="row">
                    <div class="text-center col-sm-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

    </body>

</html>